@page "/expenses"

@using ExpenseWebApp.DTO
@using ExpenseWebApp.Infrastructure
@attribute [StreamRendering]

<PageTitle>Expenses</PageTitle>
<h1>Expenses</h1>

@if (expenses == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <table class="table table-striped table-hover table-bordered table-sm">
        <thead>
        <tr>
            <th scope="col">Summary</th>
            <th scope="col">Date</th>
            <th scope="col">Amount</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var expense in expenses)
        {
            <tr>
                <td>@expense.Description</td>
                <td>@expense.Date.ToShortDateString()</td>
                <td>@expense.Amount.ToString("0.00")</td>
                <td></td>
            </tr>
        }
        </tbody>
        <tfoot>
        <tr>
            <td colspan="2"></td>
            <td class="">@expenses.Sum(e => e.Amount) </td>
            </tr>
        </tfoot>
    </table>
}
@code {
    private ExpenditureDto[]? expenses;
    
    [Inject]
    private IExpenditureService ExpenditureService { get; set; } = default!;
    
    protected override async Task OnInitializedAsync()
    {        
        expenses = (await ExpenditureService.GetExpenditures()).ToArray();
    }
}