@page "/expenses"

@using ExpenseWebApp.DTO
@using ExpenseWebApp.Infrastructure
@attribute [StreamRendering]

<PageTitle>Expenses</PageTitle>
<h1>Expenses</h1>

@if (_expenses == null)
{
    <div class="d-flex justify-content-center">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
}
else
{
    <table class="table table-striped table-hover table-bordered table-sm">
        <thead>
        <tr>
            <th scope="col" class="col-4 text-center">Summary</th>
            <th scope="col" class="col-1 text-center">Date</th>
            <th scope="col" class="col-1 text-center">Amount</th>
            <th scope="col" class="col-1"></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var expense in _expenses)
        {
            <tr>
                <td >@expense.Description</td>
                <td class="text-center">@expense.Date.ToShortDateString()</td>
                <td class="text-end">@expense.Amount.ToString("0.00")</td>
                <td>
                    <NavLink class="nav-link" href=@($"expense-view/{expense.Id}")>
                        View
                    </NavLink>
                </td>
            </tr>
        }
        </tbody>
        <tfoot>
        <tr>
            <td colspan="2"></td>
            <td class="text-end">@_expenses.Sum(e => e.Amount) </td>
            </tr>
        </tfoot>
    </table>
}
@code {
    private ExpenditureDto[]? _expenses;
    
    [Inject]
    private IExpenditureService ExpenditureService { get; set; } = default!;
    
    protected override async Task OnInitializedAsync()
    {        
        _expenses = (await ExpenditureService.GetExpenditures()).ToArray();
    }
}